@model PUNTOVENTA.Models.venta

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>venta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.usuario_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cliente_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cliente_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.credito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.credito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.creado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.creado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.actualizado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actualizado)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
